<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
   <sitecore>
      <settings>
         <!-- 
         Defines the crm property which is used as unique key when get the contacts from data source
         This means that if there are a few contacts with the same value in unique key property, only the first one will be retrieved
         Possible values: fullname, emailaddress1
         -->
         <setting name="ContestRootItemId" value="{66D90BB0-3D75-4DC6-987E-E721D86BCC55}" />
	 <setting name="ContestsPath" value="/sitecore/content/Home" />
      </settings>
   </sitecore>
</configuration>